body { background-color: #F8F8F8;
}
header {
    display: inline-block;
    width: 800px;
    background-color: aqua;
}
main {
    display: inline-block;
    width: 800px;
    background-color: purple;
}